{##
 # /views/layout.twig
 #}
<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>{% block title %}placeholder{% endblock %}</title>
{% endblock %}
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	He says: {{ message }}
</body>
</html>
		 